__pycache__/
*.pyc
.ipynb_checkpoints/

models/mountain-ner/model.safetensors
models/mountain-ner/training_args.bin
models/mountain-ner/checkpoint-*/

.env

# Trained model files
models/mountain-ner/
